body {
  font-family: "Poppins", sans-serif;
  background: #1e4bd1;
}



/* HEADER */




/* CALENDAR */

.mainWrapper {
  min-width: 300px;
  min-height: 80vh;
  margin: 0 auto;
  display: grid;
  place-content: center;
  max-width: 1280px;
}

.monthName {
  border-radius: 25px;
  background-color: rgb(250, 136, 95);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-bottom: 10px;
  width: 49.8em;
  box-shadow: 0 0 7px 3px rgba(5, 5, 5, 0.38);
} 

.title{
  margin: 0;
  font-size: 2.7em;
  height: 90px;
  display: grid;
  place-content: center;
}

.leftArrow, .rightArrow { 
  display: grid;
  place-content: center;
  height: 90px;
}

button{
  font-size: 3em;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: 0.3s;
}

button:hover{
  scale: 1.3;
  
}

.days-head{
  width: 6.4em;
  height: 2em;
  display: grid;
  place-content: center;
  font-weight: bold;
  border-bottom: 2px solid black;
  border-top: 2px solid black;
  
}

.days-item{
  width: 6.4em;
  height: 2em;
  display: grid;
  place-content: center;
  cursor: pointer;
  border-radius: 10px;
}

.days-item:hover{
  background-color:rgb(250, 136, 95);
  box-shadow: 0 0 5px 3px rgb(248, 107, 85);
}

.days {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr ;
  background-color: whitesmoke;
  gap: 5px;
  border-radius: 25px;
  padding: 25px;
  min-height: 40vh;
  box-shadow: 0 0 7px 3px rgba(5, 5, 5, 0.349);
}

/*  footer   */

.mainFooterWrapper{
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 20em;
  place-content: center;
  transition: 2s;
  color: rgb(219, 230, 230);
}

.phrase{
  text-align: center;
  width: 11em;
  display: grid;
  place-content: center;
  font-size: 1.3em;
  opacity: 0;
  transition: 2s;
}

.footerWrapper{
  background-color: rgb(250, 136, 95);
  width: 6em;
  height: 6em;
  display: grid;
  place-content: center;
  border-radius: 15px;
  box-shadow: 0 0 20px 3px rgba(5, 5, 5, 0.571);
 
}

.mainFooterWrapper:hover{ 
  transform: translate(0, -20px);
}

.mainFooterWrapper:hover .phrase{
  opacity: 0.9;
}