body {
  background: #1e4bd1;
  font-family: "Poppins", sans-serif;
}

/* HEADER */

.headerWrapper {
  border-bottom: 3px solid #5074de;
  color: whitesmoke;
  font-size: 1.7em;
  height: 60px;
  opacity: 0.9;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 40px;
  display: grid;
  place-content: center;
}

/* CALENDAR */

.mainWrapper {
  display: grid;
  margin: 0 auto;
  margin-bottom: 40px;
  place-content: center;
}

.monthName {
  background-color: rgb(250, 136, 95);
  border-radius: 25px;
  box-shadow: 0 0 7px 3px rgba(5, 5, 5, 0.38);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-bottom: 10px;
}

.title {
  color: black;
  display: grid;
  font-size: 2.3em;
  height: 90px;
  place-content: center;
}

.leftArrow,
.rightArrow {
  display: grid;
  height: 90px;
  place-content: center;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 3em;
  transition: 0.3s;
}

button:hover {
  scale: 1.3;
}

.days-head {
  border-bottom: 2px solid black;
  display: grid;
  font-weight: bold;
  height: 2em;
  place-content: center;
  width: 6.4em;
}

.days-item {
  border-radius: 10px;
  cursor: pointer;
  display: grid;
  height: 2em;
  place-content: center;
  width: 6.4em;
}

.days-item:hover {
  background-color: rgb(250, 136, 95);
  box-shadow: 0 0 5px 3px rgb(248, 107, 85);
}

.days {
  background-color: whitesmoke;
  border-radius: 25px;
  box-shadow: 0 0 7px 3px rgba(5, 5, 5, 0.349);
  display: grid;
  gap: 5px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  min-height: 40vh;
  padding: 25px;
}

/*  footer   */

.mainFooterWrapper {
  color: rgb(210, 205, 205);
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-content: center;
  transition: 2s;
  width: 19em;
}

.phrase {
  display: grid;
  font-size: 1.3em;
  opacity: 0;
  place-content: center;
  text-align: center;
  transition: 2s;
  width: 11em;
}

.footerWrapper {
  background-color: #4b96eb;
  background-image: url("./assets/github-mark.png");
  background-size: cover;
  border-radius: 15px;
  box-shadow: 0 0 10px 3px rgba(5, 5, 5, 0.571);
  display: grid;
  height: 5em;
  place-content: center;
  width: 5em;
}

.mainFooterWrapper:hover {
  transform: translate(0, -20px);
}

.mainFooterWrapper:hover .phrase {
  opacity: 1;
}

@media (max-width: 400px) {
  .title,
  button {
    font-size: 1.6em;
    height: 50px;
  }

  .leftArrow,
  .rightArrow {
    height: 50px;
  }

  .mainWrapper div {
    max-width: 350px;
  }

  .days-item {
    font-size: 0.9em;
    width: 2.6em;
  }

  .days {
    gap: 0;
    padding: 10px;
  }

  .days-head {
    font-size: 0.7em;
    width: 3.2em;
  }
}
